* {
    margin: 0;
    padding: 0;

}

body {
    background-color: rgb(61, 167, 225);
}

#cabecalho {
    margin-top: 10px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

h1 {
    background-color: rgb(246, 242, 2);
    width: 500px;
    display: flex;
    justify-content: center;
    border-radius: 200px;

}



#tarefas {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

#texto {
    width: 600px;
    height: 25px;
    margin-right: 10px;
    display: block;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 10px;
    background-color: rgb(246, 242, 2);

}

#conteudo {
    margin-top: 20px;
    margin-left: 60px;    
}

.textoInserido {
    display: flex;
    align-items: center;
    width: 1069px;
    background-color: rgb(246, 242, 2);
    height: 30px;
    margin-bottom: 5px;
    padding-left: 10px;
    border-radius: 20px;
    border: 1px solid black;
    
}

.caixa {
    margin-right: 5px;
}

#excluir {
    margin-left: 50px;
    margin-top: 20px;
}

.marcado {
    text-decoration: line-through;
}